#proyectos{
	background-color: #8EA604;
	font-style: black;
	size: 50px;

	
}

#automatas{
	background-color: #F5BB00;
	font-style: black;
	size: 50px;

	border: rgb(0000);
}

#descanso{
	background-color:  #EC9F05;
	font-style: black;
	size: 50px;
	border-color: rgb(0000);


}

#ingles{
background-color:  #D77F60;
	font-style: black;
	size: 50px;
	border-color: rgb(0000);


}



#diseño{

background-color:  #CF643F;
	font-style: black;
	size: 50px;
	border-color: rgb(0000);

}


#ingen{

background-color:  #EC9F05;
	font-style: black;
	size: 50px;
	border-color: rgb(0000);


}

#lider{
background-color:  #BF3100;
	font-style: black;
	size: 50px;
	border-color: rgb(0000);



}

#prograw{
background-color:  #CA552C;
	font-style: black;
	size: 50px;
	border-color: rgb(0000);
}

